<div class="footer">
	<div class="container-fluid">
		<div class="row">
			<ul class="col-sm-2">
				<li><h5>More info</h5></li>
				<li><a href="#"><small>About the movement</small></a></li>
				<li><a href="story.html#designers"><small>Designer Info</small></a></li>
				<li><a href="story.html#artisans"><small>Artisan Info</small></a></li>
			</ul>
		
			<ul class="col-sm-2">
				<li><h5>Get Involved</h5></li>
				<li><a href="#"><small>How you can help</small></a></li>
				<li><a href="#"><small>Every little bit matters</small></a></li>
			</ul>

			<ul class="col-sm-2 socialBtns">
				<li><h5>Connect with Us</h5></li>
				<li><a href="http://www.facebook.com"><img src="images/social-icon-facebook.png"/></a></li>
				<li style="text-indent: 0;"><a href="http://www.twitter.com"><img src="images/social-icon-twitter.png"/></a></li>
				<li style="text-indent: 0;"><a href="http://www.pinterest.com"><img src="images/social-icon-pinterest.png"/></a></li>
			</ul>

			<ul class="col-sm-4 pull-right">
				<h5>Sign up for our newsletter</h5>
				<form class="form-inline" role="form">
				  <div class="form-group">
				    <label class="sr-only" for="exampleInputEmail2">Email address</label>
				    <input type="email" class="form-control" id="newsletterForm" placeholder="Enter email">
				  </div>
				  <button type="submit" class="joinBtn btn btn-default">Join</button>
				</form>
			</ul>
		</div>
	</div>
</div>