<nav ng-controller="HeaderCtrl" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/home"><img src="images/sohum_white.png" style="height:50px; width: 50px;margin-top: -15px;"></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-class="{active: $route.current.activetab == 'home'}" ><a href="#/home">soHum</a></li>
        <li ng-class="{active: $route.current.activetab == 'collection'}"><a href="#/collection">Collection</a></li>
        <li ng-class="{active: $route.current.activetab == 'about'}"class="dropdown" ng-disabled="disabled">
          <a href="#/about" class="dropdown-toggle" data-toggle="dropdown">About Us<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#story">Our Story</a></li>
            <li><a href="#cause">The Cause</a></li>
            <li><a href="#mission">Our Mission</a></li>
            <li><a href="#designers">About the Designers</a></li>
            <li><a href="#artisans">About the Artisans</a></li>
          </ul>
        </li>
          <li ng-class="{active: $route.current.activetab == 'contact'}"><a href="#/contact">Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav>
