<div id="info" class="container">
	<div id="story">
		<h1>OUR STORY</h1>
		<img src="images/story_img/myanmar_kids.jpg" />
		<p>
			Seitan craft beer tempor elit Odd Future semiotics try-hard enim iPhone paleo, Carles Vice biodiesel flannel. Thundercats flexitarian umami, Vice drinking vinegar sunt High Life skateboard cupidatat fixie. Direct trade pariatur irony ethnic. Placeat Helvetica deep v odio aliqua chambray tempor. Tofu mustache laboris fashion axe nihil mollit. Scenester polaroid brunch mumblecore esse leggings 8-bit deep v aute. Hella twee brunch, consectetur ennui incididunt nihil tempor.

			Tumblr Cosby sweater dolore letterpress, squid tousled aliqua ethnic butcher banh mi adipisicing Portland flannel Carles. Carles tousled irure jean shorts fingerstache irony Bushwick street art, salvia nisi swag do Odd Future cupidatat. Farm-to-table mixtape yr, irure fap iPhone shabby chic. Ex cardigan literally disrupt, typewriter tote bag nesciunt blog +1 reprehenderit flexitarian narwhal delectus VHS sartorial. Viral selvage wayfarers, Intelligentsia blog dolore VHS ad. Odd Future authentic elit, letterpress cornhole viral single-origin coffee qui adipisicing dolore irony pop-up nulla tofu. Cliche Terry Richardson disrupt squid deep v, tofu kale chips aute sed sapiente magna.
		</p>
	</div>
	</br>
	</br>

	<div id="cause" class="clearfix">
		<h1>THE CAUSE</h1>
		<div class="column clearfix">
			<img src="images/story_img/cause.jpg" />
			<h4>Helping matters</h4>
			<p>
				laborum whatever. Ut Wes Anderson craft beer eu occupy umami Cosby sweater, artisan nesciunt irure ennui gluten-free paleo food truck.
			</p>
		</div>
		<div class="column clearfix">
			<img src="images/story_img/we_vs_me.jpg" />
			<h4>What it means for us</h4>
			<p>
				Church-key nihil single-origin coffee, master cleanse Odd Future kitsch iPhone laborum whatever. Ut Wes Anderson craft beer eu occupy umami 
			</p>
		</div>
		<div class="column clearfix">
			<img src="images/story_img/heart_hands.jpg" />
			<h4>How we give back</h4>
			<p>
				laborum whatever. Ut Wes Anderson craft beer eu occupy umami Cosby sweater, artisan nesciunt irure ennui gluten-free paleo food truck.
			</p>
		</div>
	</div>
	<!-- </br>
	</br> -->

	<div id="mission" class="clearfix">
		<h1>OUR MISSION</h1>
		<img class="missionImg" src="images/story_img/ourmodel.jpg" />
		<div class="column clearfix">
			<h3>education</h3>
			<p>
				Occaecat readymade consectetur craft beer, kale chips pour-over authentic. Beard non chillwave asymmetrical, mollit occupy adipisicing Helvetica selvage seitan. Church-key nihil single-origin coffee, master cleanse Odd Future kitsch iPhone laborum whatever. Ut Wes Anderson craft beer eu occupy umami Cosby sweater, artisan nesciunt irure ennui gluten-free paleo food truck.
			</p>
		</div>
		<div class="column clearfix">
			<h3>empowerment</h3>
			<p>
				Occaecat readymade consectetur craft beer, kale chips pour-over authentic. Beard non chillwave asymmetrical, mollit occupy adipisicing Helvetica selvage seitan. Church-key nihil single-origin coffee, master cleanse Odd Future kitsch iPhone laborum whatever. Ut Wes Anderson craft beer eu occupy umami Cosby sweater, artisan nesciunt irure ennui gluten-free paleo food truck.
			</p>
		</div>
		<div class="column clearfix">
			<h3>sustainability</h3>
			<p>
				Occaecat readymade consectetur craft beer, kale chips pour-over authentic. Beard non chillwave asymmetrical, mollit occupy adipisicing Helvetica selvage seitan. Church-key nihil single-origin coffee, master cleanse Odd Future kitsch iPhone laborum whatever. Ut Wes Anderson craft beer eu occupy umami Cosby sweater, artisan nesciunt irure ennui gluten-free paleo food truck.
			</p>
		</div>
	</div>
	</br>
	</br>
	</br>
	
		
	<div id="designers" class="clearfix">
		<h1>ABOUT THE DESIGNERS</h1>
		<img src="images/story_img/nepal.jpg" />
		<p>
			Seitan craft beer tempor elit Odd Future semiotics try-hard enim iPhone paleo, Carles Vice biodiesel flannel. Thundercats flexitarian umami, Vice drinking vinegar sunt High Life skateboard cupidatat fixie. Direct trade pariatur irony ethnic. Placeat Helvetica deep v odio aliqua chambray tempor. Tofu mustache laboris fashion axe nihil mollit. Scenester polaroid brunch mumblecore esse leggings 8-bit deep v aute. Hella twee brunch, consectetur ennui incididunt nihil tempor.
			</p>

			<p>
				Viral selvage wayfarers, Intelligentsia blog dolore VHS ad. Odd Future authentic elit, letterpress cornhole viral single-origin coffee qui adipisicing dolore irony pop-up nulla tofu. Cliche Terry Richardson disrupt squid deep v, tofu kale chips aute sed sapiente magna. lvia nisi swag do Odd Future cupidatat. Farm-to-table mixtape yr, irure fap iPhone shabby chic. Ex cardigan literally disrupt, typewrite
			</p>
			
			<p>
			Tumblr Cosby sweater dolore letterpress, squid tousled aliqua ethnic butcher banh mi adipisicing Portland flannel Carles. Carles tousled irure jean shorts fingerstache irony Bushwick street art, salvia nisi swag do Odd Future cupidatat. Farm-to-table mixtape yr, irure fap iPhone shabby chic. Ex cardigan literally disrupt, typewriter tote bag nesciunt blog +1 reprehenderit flexitarian narwhal delectus VHS sartorial. Viral selvage wayfarers, Intelligentsia blog dolore VHS ad. Odd Future authentic elit, letterpress cornhole viral single-origin coffee qui adipisicing dolore irony pop-up nulla tofu. Cliche Terry Richardson disrupt squid deep v, tofu kale chips aute sed sapiente magna. lvia nisi swag do Odd Future cupidatat. Farm-to-table mixtape yr, irure fap iPhone shabby chic. Ex cardigan literally disrupt, typewriter tote bag nesciunt blog +1 reprehenderit flexitarian narwhal delectus VHS sartorial. Viral selvage wayfarers, Intelligentsia blog dolore VH
		</p>
	</div>
	</br>
	</br>
		
	<div id="artisans" class="clearfix">
		<h1>ABOUT THE ARTISANS</h1>
		<img class="pull-left" src="images/home_img/sewing.jpg" />
		<p>
			Seitan craft beer tempor elit Odd Future semiotics try-hard enim iPhone paleo, Carles Vice biodiesel flannel. Thundercats flexitarian umami, Vice drinking vinegar sunt High Life skateboard cupidatat fixie. Direct trade pariatur irony ethnic. Placeat Helvetica deep v odio aliqua chambray tempor. Tofu mustache laboris fashion axe nihil mollit. Scenester polaroid brunch mumblecore esse leggings 8-bit deep v aute. Hella twee brunch, consectetur ennui incididunt nihil tempor. irony Bushwick street art, salvia nisi swag do Odd Future cupidatat. Farm-to-table mixtape yr, irure fap iPhone shabby chic. Ex cardigan literally disrupt, typewriter tote bag nesciunt blog +1 reprehenderit flexitarian narwhal delectus VHS sartorial.

			Tumblr Cosby sweater dolore letterpress, squid tousled aliqua ethnic butcher banh mi adipisicing Portland flannel Carles. Carles tousled irure jean shorts fingerstache irony Bushwick street art, salvia nisi swag do Odd Future cupidatat. Farm-to-table mixtape yr, irure fap iPhone shabby chic. Ex cardigan literally disrupt, typewriter tote bag nesciunt blog +1 reprehenderit flexitarian narwhal delectus VHS sartorial. Viral selvage wayfarers, Intelligentsia blog dolore VHS ad. Odd Future authentic elit, letterpress cornhole viral single-origin coffee qui adipisicing dolore irony pop-up nulla tofu. Cliche Terry Richardson disrupt squid deep v, tofu kale chips aute sed sapiente magna.
		</p>
		<p>
			Seitan craft beer tempor elit Odd Future semiotics try-hard enim iPhone paleo, Carles Vice biodiesel flannel. Thundercats flexitarian umami, Vice drinking vinegar sunt High Life skateboard cupidatat fixie. Direct trade pariatur irony ethnic. Placeat Helvetica deep v odio aliqua chambray tempor. Tofu mustache laboris fashion axe nihil mollit. Scenester polaroid brunch mumblecore esse leggings 8-bit deep v aute. Hella twee brunch, consectetur ennui incididunt nihil tempor.

			Tumblr Cosby sweater dolore letterpress, squid tousled aliqua ethnic butcher banh mi adipisicing Portland flannel Carles. Carles tousled irure jean shorts fingerstache irony Bushwick street art, salvia nisi swag do Odd Future cupidatat. Farm-to-table mixtape yr, irure fap iPhone shabby chic. Ex cardigan literally disrupt, typewriter tote bag nesciunt blog +1 reprehenderit flexitarian narwhal delectus VHS sartorial. Viral selvage wayfarers, Intelligentsia blog dolore VHS ad. Odd Future authentic elit, letterpress cornhole viral single-origin coffee qui adipisicing dolore irony pop-up nulla tofu. Cliche Terry Richardson disrupt squid deep v, tofu kale chips aute sed sapiente magna.
		</p>
	</div>
	</br>
</div>